{% extends "!layout.html" %}

{% if pagename in ablog %}
    {% if ablog[pagename].language[0].name == 'English' %}
        {% set language='en-us' %}
    {% elif ablog[pagename].language[0].name == 'Russian' %}
        {% set language='ru' %}
    {% endif %}
{% endif %}

{%- block extrahead %}
{{ super() }}

    {% if pagename in ablog and not meta['description'] %}
        <meta name="description" content="{{ ablog[pagename].to_html(pagename).strip()|striptags|e }}"> 
    {% endif %}

{% endblock %}


{% block footer %}
{{ super().replace("Powered by ", "Powered by <a href=\"http://ablog.readthedocs.org/\">ABlog</a> &amp; ") }}


    {% if ablog.blog_baseurl and (not ablog[pagename].nocomments) and ((pagename in ablog and (ablog[pagename].published or ablog.disqus_drafts)) or (not pagename in ablog and ablog.disqus_pages)) %}

        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5977b23b80bb1d0011ab6d8a&product=sticky-share-buttons"></script>
    {% endif %}


<!-- google.com/analytics counter -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69288289-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- /google.com/analytics counter -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter32948409 = new Ya.Metrika({
                    id:32948409,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/32948409" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


{% endblock %}
